@import url(variables.css);
:root{
    --color-primary:#fcfcfc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    background-color: var(--color-black);
}
.title{
    color: red;
    font-family: "font_2";
    position: absolute;
    font-size: 3vh;
    margin-top: 10vh;
    margin-left: 7vh;

}
.productos {
    
    position: absolute;
    font-size: 3vh;
    /* background: red; */
    height: 40vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30vh;
    margin-left: 7vh;
}
.todosLosProductos button{
    background: var(--color-black);
    border-radius: 8%;
    color: white;
    font-family: "font_3";
    font-size: 4vh;
}
.abrigos button{
    background: var(--color-black);
    border-radius: 8%;
    color: white;
    font-family: "font_3";
    font-size: 4vh;
}
.camisas button{
    background: var(--color-black);
    border-radius: 8%;
    color: white;
    font-family: "font_3";
    font-size: 4vh;
}
.pantalones button{
    background: var(--color-black);
    border-radius: 8%;
    color: white;
    font-family: "font_3";
    font-size: 4vh;
}
.carrito{
    font-family: "font_1";
    position: absolute;
    font-size: 3vh;
    /* background: blue; */
    height: 5vh;
    width: 12vh;
    margin-top: 80vh;
    margin-left: 7vh;
}
.carrito button{
    background: var(--color-black);
    border-radius: 8%;
    color: white;
    font-family: "font_1";
    font-size: 4vh;
}
.camper{
    font-family: "font_4";
    position: absolute;
    font-size: 3vh;
    margin-left: 7vh;
    margin-top: 90vh;
}
.cajaPrincipal{
    width: 150vh; /* Ancho deseado */
    height: 80vh; /* Altura deseada */
    overflow-y: scroll; /* Agrega scroll vertical */
    border: 1px solid #ccc; /* Borde para visualización */

    position: absolute;
    background: var(--color-whithe);
    /* height: 80vh;
    width: 150vh; */
    border-radius: 10%;
    margin-top: 10vh;
    margin-left: 60vh;
}
.img1 img{
    position: absolute;
    height: 30vh;
    width: 30vh;
    margin-top: 7vh;
    margin-left: 8vh;
    border-radius: 10%;
}
.img1{
    position: absolute;
    /* background: red; */
    width: 45vh;
    height: 45vh;
    
}
.img1 button{
    margin-left: 27vh;
    margin-top: 37vh;
    background: var(--color-black);
    color: white;
    font-family: "font_3";
}
.img1 h3{
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 40%;
    margin-top: 37vh;
    font-size: 2vh;
    font-family: "font_5";
    
    
    
}
.img2 img{
    position: absolute;
    height: 30vh;
    width: 30vh;
    margin-top: 7vh;
    margin-left: 42vh;
    border-radius: 10%;
}
.img2{
    position: absolute;
    /* background: red; */
    width: 45vh;
    height: 45vh;
    
}
.img2 button{
    margin-left: 63vh;
    margin-top: 37vh;
    background: var(--color-black);
    color: white;
    font-family: "font_3";
}
.img2 h3{
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 55vh;
    margin-top: 37vh;
    font-size: 2vh;
    font-family: "font_5";
    
}
.img3 img{
    position: absolute;
    height: 30vh;
    width: 30vh;
    margin-top: 7vh;
    margin-left: 77vh;
    border-radius: 10%;
}
.img3 button{
    margin-left: 96vh;
    margin-top: 37vh;
    background: var(--color-black);
    color: white;
    font-family: "font_3";
}
.img3{
    position: absolute;
    /* background: red; */
    width: 45vh;
    height: 45vh;
    
}
.img3 h3{
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 87vh;
    margin-top: 37vh;
    font-size: 2vh;
    font-family: "font_5";
    
}
.img4 img{
    position: absolute;
    height: 30vh;
    width: 30vh;
    margin-top: 7vh;
    margin-left: 110vh;
    border-radius: 10%;
}
.img4 button{
    margin-left: 130vh;
    margin-top: 37vh;
    background: var(--color-black);
    color: white;
    font-family: "font_3";
}
.img4{
    position: absolute;
    /* background: red; */
    width: 45vh;
    height: 45vh;
    
}
.img4 h3{
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 120vh;
    margin-top: 37vh;
    font-size: 2vh;
    font-family: "font_5";
    
}
.img5 img{
    position: absolute;
    height: 30vh;
    width: 30vh;
    margin-top: 45vh;
    margin-left: 8vh;
    border-radius: 10%;
}
.img5 button{
    margin-left: 27vh;
    margin-top: 75vh;
    background: var(--color-black);
    color: white;
    font-family: "font_3";
}
.img5 h3{
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 40%;
    margin-top: 75vh;
    font-size: 2vh;
    font-family: "font_5";
    
}
.img5{
    position: absolute;
    /* background: red; */
    width: 45vh;
    height: 45vh;
    
}
.img6 img{
    position: absolute;
    height: 30vh;
    width: 30vh;
    margin-top: 45vh;
    margin-left: 42vh;
    border-radius: 10%;
}
.img6 button{
    margin-left: 63vh;
    margin-top: 75vh;
    background: var(--color-black);
    color: white;
    font-family: "font_3";
}
.img6 h3{
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 55vh;
    margin-top: 75vh;
    font-size: 2vh;
    font-family: "font_5";
    
}
.img6{
    position: absolute;
    /* background: red; */
    width: 45vh;
    height: 45vh;
    
}
.img7 img{
    position: absolute;
    height: 30vh;
    width: 30vh;
    margin-top: 45vh;
    margin-left: 77vh;
    border-radius: 10%;
}
.img7 button{
    margin-left: 97vh;
    margin-top: 75vh;
    background: var(--color-black);
    color: white;
    font-family: "font_3";
}
.img7 h3{
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 88vh;
    margin-top: 75vh;
    font-size: 2vh;
    font-family: "font_5";
    
}
.img7{
    position: absolute;
    /* background: red; */
    width: 45vh;
    height: 45vh;
    
}
.img8 img{
    position: absolute;
    height: 30vh;
    width: 30vh;
    margin-top: 45vh;
    margin-left: 110vh;
    border-radius: 10%;
}
.img8 button{
    margin-left: 130vh;
    margin-top: 75vh;
    background: var(--color-black);
    color: white;
    font-family: "font_3";
}
.img8 h3{
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 120vh;
    margin-top: 75vh;
    font-size: 2vh;
    font-family: "font_5";
    
}
.img8{
    position: absolute;
    /* background: red; */
    width: 45vh;
    height: 45vh;
    
}
.img9 img{
    position: absolute;
    height: 30vh;
    width: 30vh;
    margin-top: 85vh;
    margin-left: 8vh;
    border-radius: 10%;
}
.img9 button{
    margin-left: 27vh;
    margin-top: 115vh;
    background: var(--color-black);
    color: white;
    font-family: "font_3";
}
.img9 h3{
        position: absolute;
        color: white;
    text-align: center;
    margin-left: 40%;
    margin-top: 115vh;
    font-size: 2vh;
    font-family: "font_5";
    
}
.img9{
    position: absolute;
    /* background: red; */
    width: 45vh;
    height: 45vh;
    
}
