@import url(variables.css);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
:root{
    --color-primary:#fcfcfc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: var(--color-black);
    
}

.title h1{
    font-family: 'Poppins', sans-serif;
    color: var(--color-naranja);
    width: 14vh;
    font-size: 5.4vh;
    position: absolute;
    display: flex;
    justify-content: start;
    margin-left: 9vh;
    
}
/* article {
    grid-column-gap: 100em;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(1, 1fr); 
    grid-gap: 1vh;
    grid-template-areas: 
    ".  ." 
    ".  ."
    ".  ."
    ".  ."
    ".  ."
    ".  ."
    ; 
} */
.main{

    height: 6vh;
    display: flex;
    justify-content: space-evenly;
    justify-content: flex-end;
    gap: 7vh;
    font-size: 2vh;
    margin-top: 4vh;
    margin-right: 6vh;
    color: var(--color-whithe);
    font-family: Poppins, sans-serif;
}
a{
    color: var(--color-whithe);
    text-decoration: none;
}

.n_1{ 
    position: absolute;
    width: 100vh;
    font-family: Poppins, sans-serif;
    font-size: 15vh;
    display: flex;
    margin-top: -50vh;
    color: var(--color-naranja);
    font-weight:400 ;

}
.n_2{
    position: absolute;
    color: var(--color-whithe);
    width: 35vh;
    font-size: 3vh;
    font-family:Poppins, sans-serif ;
    display: flex;
    margin-left: -52vh;
    margin-top: -15vh;
}
button{
    position: absolute;
    background: var(--color-naranja);
    height: 6vh;
    font-size: 3vh;
    width: 25vh;
    border-radius: 10%;
    color: var(--color-whithe);
    font-family: Poppins, sans-serif;
    margin-left: -61vh;
    margin-top: 3vh;
}

.full_web_site{
    margin: 25vh;
    position: absolute;
    height: 80vh;
    width: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger img{
    height: 70vh;
    margin-top:15vh;
    margin-left: 125vh;
}
.parte2 img{
    height: 58vh;
    margin-left: 16vh;
    position: absolute;
}

.two{
    /* background: red; */
    height: 60vh;
    width: 70vh;
    margin-left: 120vh;
    margin-top:80vh;
}
.button button{
    font-size: 3vh;
    margin-left: 1vh;
    background: var(--color-naranja);
    color: var(--color-whithe);
    font-weight: 400;
}
.about_us{
    color: var(--color-naranja);
    font-family: Poppins, sans-serif;
    font-size: 3vh;
    
}
.we_speak h3{
    color: var(--color-whithe);
    font-size: 6vh;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

.it_is{
    margin-top: 3vh;
    font-size: 3vh;
    color: var(--color-whithe);
}

.tres{
    /* background: red; */
    height: 20vh;
    width:100vh;
    margin-left: 50vh;
    margin-top: 80VH;
}
.foodMenu{
    font-size: 3vh;
    margin-left: 40%;
    color: var(--color-naranja);
}
.we_provide{
    font-size: 7.5vh;
    color: var(--color-whithe);
}

.img1{
    
    background: var(--color-whithe);
    height: 70vh;
    width: 50vh;
    position: absolute;

    margin-left: 20vh;
}
.img2{
    background: var(--color-whithe);
    height: 70vh;
    width: 50vh;
    position: absolute;
    margin-left: 74vh;
}
.img3{
    background: var(--color-whithe);
    height: 70vh;
    width: 50vh;
    position: absolute;
    margin-left: 127vh;
}

.full_chicken h3{
    display: flex;
    
    height: 6vh;
    width: 30vh;
    /* justify-content: space-betwen; */
    margin-left: 20%;
    text-align: center;
    flex-direction: column;
    /* width: 11%;
    margin-left: 10vh; */
    
}
.chicken{
    font-size: 3vh;
    font-family:Poppins, sans-serif ;
}
.tastyFood{
    font-size: 2vh;
    font-family: Poppins, sans-serif;
}
.price1{
    font-size: 2vh;
    font-family: Poppins, sans-serif;
    color: var(--color-naranja);
}
.fullSpecial{
    display: flex;
    
    height: 6vh;
    width: 30vh;

    margin-left: 20%;
    text-align: center;
    flex-direction: column;
}
.special{
    font-size: 3vh;
    font-family:Poppins, sans-serif ;
}
.trasty{
    font-size: 2vh;
    font-family: Poppins, sans-serif;    
}
.price2{
    font-size: 2vh;
    font-family: Poppins, sans-serif;
    color: var(--color-naranja);
}
.fullFry{
    display: flex;
    
    height: 6vh;
    width: 30vh;

    margin-left: 20%;
    text-align: center;
    flex-direction: column; 
}
.ChickenFry{
    font-size: 3vh;
    font-family:Poppins, sans-serif ;
}
.tasty1{
    font-size: 2vh;
    font-family: Poppins, sans-serif;
}
.price3{
    font-size: 2vh;
    font-family: Poppins, sans-serif;
    color: var(--color-naranja);
}
.Services{
    font-size: 3vh;
    margin-top: 200vh;
    margin-left: 45%;
    color: var(--color-naranja);
}
.we_provide2{
    font-size: 7.5vh;
    color: var(--color-whithe);
    margin-left: 20%;
    
}
.img_1 img{
    height: 50vh;
}
.img_1{
    /* background: red; */
    height: 67vh;
    width: 50vh;
    position: absolute;
    margin-top: 1vh;
    margin-left: 20vh;
}
.Order{
    color: var(--color-naranja);
    font-size: 4vh;
    font-weight: 500;
    font-family: Poppins, sans-serif;
}
.long{
    font-family: Poppins, sans-serif;
    font-size: 2vh;
}
.fullOrder{
    display: flex;
    
    height: 6vh;
    width: 30vh;

    margin-left: 20%;
    text-align: center;
    flex-direction: column;
}
.Shipping{
    color: var(--color-naranja);
    font-size: 4vh;
    font-weight: 500;
    font-family: Poppins, sans-serif;
}
.img_2{
    position: absolute;
    margin-left: 70vh;
    margin-top: -58vh;
}
.fullShiping{
    display: flex;
    
    height: 6vh;
    width: 30vh;

    margin-left: 20%;
    text-align: center;
    flex-direction: column;
}
.it{
    font-family: Poppins, sans-serif;
    font-size: 2vh;
}
.fullDellvered{
    display: flex;
    
    height: 6vh;
    width: 30vh;

    margin-left: 20%;
    text-align: center;
    flex-direction: column;
}
.Dellvered{
    color: var(--color-naranja);
    font-size: 4vh;
    font-weight: 500;
    font-family: Poppins, sans-serif;
}
.is{
    font-family: Poppins, sans-serif;
    font-size: 2vh;
}
.img_3{
    position: absolute;
    margin-left: 135vh;
    margin-top: -52vh;
}
.fullCaja{
    background: var(--color-whithe);
    width: 190vh;
    height: 50vh;
    margin-left: 10vh;
    margin-top: 100vh;
    border-color: black;
    border-radius: 1%;
    display: flex;
    text-align: center;
    
    justify-content: center;
    
}
.newButton button{
    position: absolute;
    margin-left: -12vh;
    margin-top:37vh;
}
.WeMake{
    font-size: 7vh;
    position: absolute;
    margin-top:17vh ;
    /* background: red; */
    height: 7vh;
}
.menus{
    color: var(--color-naranja);
    text-decoration-line: underline;
}
.content{

    color: var(--color-whithe);
}
.full{
    font-size: 3vh;
    position: absolute;
    margin-top: 15vh;
    margin-left: 30vh;

}
.full2{
    font-size: 3vh;
    position: absolute;
    margin-top: 15vh;
    margin-left: 60vh;
}
.OurServive{
    color: var(--color-naranja);
    text-decoration-line: underline;
}
.content2{
    color: var(--color-whithe);
}
.full3{
    font-size: 3vh;
    position: absolute;
    margin-top: 15vh;
    margin-left: 100vh;
}
.Information{
    color: var(--color-naranja);
    text-decoration-line: underline;
}
.content3{
    color: var(--color-whithe);
}
.full4{
    position: absolute;
    margin-top: 15vh;
    margin-left: 150vh;
}
.contact{
    font-size: 2vw;
    color: var(--color-naranja);
    text-decoration-line:underline ;
}
.icons{
    margin-top: 2vh;
    font-size: 3.5vw;
}
