@import url(variables.css);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
:root{
    --color-primary:#fcfcfc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: var(--color-black);
    
}

.title h1{
    font-family: 'Poppins', sans-serif;
    color: var(--color-naranja);
    width: 14vh;
    font-size: 5.4vh;
    position: absolute;
    display: flex;
    justify-content: start;
    margin-left: 9vh;
    
}
/* article {
    grid-column-gap: 100em;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(1, 1fr); 
    grid-gap: 1vh;
    grid-template-areas: 
    ".  ." 
    ".  ."
    ".  ."
    ".  ."
    ".  ."
    ".  ."
    ; 
} */
.main{

    height: 6vh;
    display: flex;
    justify-content: space-evenly;
    justify-content: flex-end;
    gap: 7vh;
    font-size: 2vh;
    margin-top: 4vh;
    margin-right: 6vh;
    color: var(--color-whithe);
    font-family: Poppins, sans-serif;
}
a{
    color: var(--color-whithe);
    text-decoration: none;
}

.n_1{ 
    position: absolute;
    width: 100vh;
    font-family: Poppins, sans-serif;
    font-size: 15vh;
    display: flex;
    margin-top: -50vh;
    color: var(--color-naranja);
    font-weight:400 ;

}
.n_2{
    position: absolute;
    color: var(--color-whithe);
    width: 35vh;
    font-size: 3vh;
    font-family:Poppins, sans-serif ;
    display: flex;
    margin-left: -52vh;
    margin-top: -15vh;
}
button{
    position: absolute;
    background: var(--color-naranja);
    height: 6vh;
    font-size: 3vh;
    width: 25vh;
    border-radius: 10%;
    color: var(--color-whithe);
    font-family: Poppins, sans-serif;
    margin-left: -61vh;
    margin-top: 3vh;
}

.full_web_site{
    margin: 25vh;
    position: absolute;
    height: 80vh;
    width: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger img{
    height: 70vh;
    margin-top:15vh;
    margin-left: 125vh;
}
.parte2 img{
    height: 58vh;
    margin-left: 16vh;
    position: absolute;
}

.two{
    /* background: red; */
    height: 60vh;
    width: 70vh;
    margin-left: 120vh;
    margin-top:15vh;
}
.button button{
    font-size: 3vh;
    margin-left: 1vh;
    background: var(--color-naranja);
    color: var(--color-whithe);
    font-weight: 400;
}
.about_us{
    color: var(--color-naranja);
    font-family: Poppins, sans-serif;
    font-size: 3vh;
    
}
.we_speak h3{
    color: var(--color-whithe);
    font-size: 6vh;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

.it_is{
    margin-top: 3vh;
    font-size: 3vh;
    color: var(--color-whithe);
}

.tres{
    background: red;
    height: 20vh;
    width:100vh;
    margin-left: 50vh;
    
}
.service{
    font-size: 3vh;
    margin-left: 40%;
    color: var(--color-naranja);
}
.we_provide{
    font-size: 7.5vh;
    color: var(--color-whithe);
}

.img1{
    position: absolute;
    margin-top: 1vh;
    margin-left: 20vh;
}
.img2{
    position: absolute;
    margin-left: 75vh;
}
.img3{
    position: absolute;
    margin-left: 127vh;
}
