:root{
--color-naranja : #ff702a;
--color-cian: #12b886;
--color-black:#1e1d2b;
--color-blue:#2c2b47;
--color-whithe:#fff;

}
/* @font-face{ 
    font-family: "font_1";
    src: url(../storage/font/Shaka\ Pow.ttf);
}
@font-face{
    font-family: "font_2";
    src:url(../storage/font/Shaka\ Pow\ Hollow.ttf);
}
@font-face{
    font-family: "font_3";
    src:url(../storage/font/Shaka\ Pow\ Upright.ttf);
}
@font-face{
    font-family: "font_4";
    src:url(../storage/font/Shaka\ Pow\ Upright\ Hollow.ttf);
}*/
