<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">}
    <link rel="stylesheet" href="/css/camisas.css">
    <title>Document</title>
</head>
<body>
    <div class="title"><h1>CampusShop</h1></div>
    <div class="productos">
        <div class="todosLosProductos"><a href="todosLosProductos.html"><button>Todos Los Poroductos</button></a></div>
        <div class="abrigos"><a href="abrigos.html"><button>Abrigos</button></a></div>
        <div class="camisas"><a href="camisas.html"><button>Camisas</button></a></div>
        <div class="pantalones"><a href="pantalones.html"><button>Pantalones</button></a></div>
    </div>
    <div class="carrito">
        <button> carrito</button>
    </div>
    <div class="camper"><h3>@2023Camper</h3></div>
    <div class="cajaPrincipal">
        <div class="img1">
            <img src="/storage/img/camisa1.jpg" >
            
            <h3>camisa 1<br>precio<br>100.000$</h3>
            <button>comprar</button>
        </div>
        <div class="img2">
            <img src="/storage/img/camisa2.jpg">

            <h3>camisa 2<br>precio<br>400.000$</h3>
            <button>comprar</button>
        </div>
        <div class="img3">
            <img src="/storage/img/camisa3.jpg">

            <h3>camisa 3<br>precio<br>300.000$</h3>
            <button>comprar</button>
        </div>
        <div class="img4">
            <img src="/storage/img/camisa4.jpg">

            <h3>camisa 4<br>precio<br>600.000$</h3>
            <button>comprar</button>
        </div>
        <div class="img5">
            <img src="/storage/img/camisa5.jpg">

            <h3>camisa 5<br>precio<br>100.000$</h3>
            <button>comprar</button>
        </div>
        <div class="img6">
            <img src="/storage/img/camisa6.jpg">

            <h3>camisa 6<br>precio<br>150.000$</h3>
            <button>comprar</button>
        </div>
        <div class="img7">
            <img src="/storage/img/camisa7.jpg">

            <h3>camisa 7<br>precio<br>999.999$</h3>
            <button>comprar</button>
        </div>
        <div class="img8">
            <img src="/storage/img/camisa8.jpg">

            <h3>camisa 8<br>precio<br>500.000$</h3>
            <button>comprar</button>
        </div>
        <div class="img9">
            <img src="/storage/img/camisa9.jpg">

            <h3>camisa 9<br>precio<br>230.000$</h3>
            <button>comprar</button>
        </div>
    </div>
</body>
</html>