<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pantalones.css">
    <title>Document</title>
</head>
<body>
    <div class="title"><h1>CampusShop</h1></div>
    <div class="productos">
        <div class="todosLosProductos"><a href="todosLosProductos.html"><button>Todos Los Poroductos</button></a></div>
        <div class="abrigos"><a href="abrigos.html"><button>Abrigos</button></a></div>
        <div class="camisas"><a href="camisas.html"><button>Camisas</button></a></div>
        <div class="pantalones"><a href="pantalones.html"><button>Pantalones</button></a></div>
    </div>
    <div class="carrito">
        <a href="carrito.html"><button> carrito</button></a>
    </div>
    <div class="camper"><h3>@2023Camper</h3></div>
    <div class="cajaPrincipal">
        <div class="img1">
            <img src="/storage/img/pantalon1.jpg" >
            
            <h3>pantalon 1<br>precio<br>100.000$</h3>
            <button>comprar</button>
        </div>
        <div class="img2">
            <img src="/storage/img/pantalon2.jpg">

            <h3>pantalon 2<br>precio<br>400.000$</h3>
            <button>comprar</button>
        </div>
        <div class="img3">
            <img src="/storage/img/pantalon3.jpg">

            <h3>pantalon 3<br>precio<br>300.000$</h3>
            <button>comprar</button>
        </div>
        <div class="img4">
            <img src="/storage/img/pantalon4.jpg">

            <h3>pantalon 4<br>precio<br>600.000$</h3>
            <button>comprar</button>
        </div>
        <div class="img5">
            <img src="/storage/img/pantalon5.jpg">

            <h3>pantalon 5<br>precio<br>100.000$</h3>
            <button>comprar</button>
        </div>
        <div class="img6">
            <img src="/storage/img/pantalon6.jpg">

            <h3>pantalon 6<br>precio<br>150.000$</h3>
            <button>comprar</button>
        </div>
        <div class="img7">
            <img src="/storage/img/pantalon7.jpg">

            <h3>pantalon 7<br>precio<br>999.999$</h3>
            <button>comprar</button>
        </div>
        <div class="img8">
            <img src="/storage/img/pantalon8.jpg">

            <h3>pantalon 8<br>precio<br>500.000$</h3>
            <button>comprar</button>
        </div>
        <div class="img9">
            <img src="/storage/img/pantalon9.jpg">

            <h3>pantalon 9<br>precio<br>230.000$</h3>
            <button>comprar</button>
        </div>
    </div>
</body>
</html>